<script type="text/javascript">
  <% if logged_in? %>
    window.currentUser = <%= render(
      "api/users/user.json.jbuilder",
      user: current_user
    ).html_safe %>
  <% end %>
  window.asset = {
    homepage_photo: "<%= image_path("homepage_photo_2.jpg")%>"
  }
</script>


<main id="content"></main>
