.big-section {
    display: flex;
    justify-content: center;
}

.upload {
  font-size: 36px;
  padding: 20px;
}

.post-container {
  font-family: 'Heebo', sans-serif;
  margin: 60px 0;
  text-align: center;
  border: 1px solid #f0f0f0;
  border-radius: 3px;

  padding: 0 30px 30px 30px;
  background: #fff;
}

.post-button {
  background: #fff;
  color: #3897f0;
  font-weight: 100;
  margin-top: 20px;
}

.post-button:hover {
  background: #3897f0;
  color: #fff;
}

label.myLabel input[type="file"] {
    position: fixed;
    top: -1000px;
}

/***** Example custom styling *****/
.myLabel {
    position: relative;
    cursor: pointer;
    width: 250px;
    border: 1px solid #3897f0;;
    border-radius: 3px;
    padding: 8px;
    margin: 0 auto;
    background: #FFF;
    display: block;
    color: #3897f0;
    font-family: 'Heebo', sans-serif;
    margin-bottom: 10px;
}

.myLabel:hover {
  background: #3897f0;
  color: #fff;
}

.myLabel-button {
  position: absolute;;
  margin: 0 auto;
  height: 100%;
  width: 100%;
  opacity: 0;
  font-size: 0;
  cursor: pointer;
}

/*.myLabel:hover {

}
.myLabel:active {
    background: #eee;
}
.myLabel :invalid + span {
    color: #3897f0;
}
.myLabel :valid + span {
    color: #3897f0;
}*/

.mask {
  font-size: 20px;
  font-family: 'Heebo', sans-serif;
}

/*.mask:hover {
  color: #fff;
}*/

.image-container {
  margin: 0 auto;
}

.caption-label {
  padding: 10px;
}

.caption {
  text-align: center;
  color: #999;
  border: 1px solid #ccc;
  font-size: 16px;
  width: 263px;
  height: 20px;
}
